* {
  textcolor0:       #2bbdeb;
  accent:           #2bbdeb;
  background:       #1d1f21;
  background-light: #f2f3f1;
  background-light1: #1d1f21;
  foreground:       #1d1f21;
  on:               #44ad4d;
  off:              #e34039;
}
